{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="header-container">
    <h1>
        <img src="{{ 'hero-image.svg' | asset_url }}">
        <span>vintage & thrifty</span>
    </h1>
</div>

<div class="hero-collections">
    <div class="hero-collections_card-ctn">

    {% for block in section.blocks%}
    <a href="hero-collections__card">
        <div></div>
        <div></div>
        <h3>{{ block.settings.collection.title |  downcase }}</h3>
    </a>
    {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Hero",
    "blocks": [
      {
        "type": "collection",
        "limit":3,
        "name": "Collection",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "collection"
            },
            {
                "type": "image_picker",
                "id": "image_bg",
                "label": "Image background"
            },
            {
                "type": "image_picker",
                "id": "image_hover",
                "label": "Image hover"
            }
        ]
      }
    ],
    "presets": [
        {
            "name": "Hero"
        }
    ]
}
{% endschema %}