{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="header-container">
    <h1>
        <img src="{{ 'hero-image.svg' | asset_url }}">
        <span>vintage & thrifty</span>
    </h1>
</div>

<div>
    {% for block in section.blocks%}
    <a href="">
        <div></div>
        <div></div>
        <h3>Title</h3>
    </a>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Hero",
    "blocks": [
      {
        "type": "collection",
        "limit":3,
        "name": "Collection",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "collection"
            },
            {
                "type": "image_picker",
                "id": "image_bg",
                "label": "Image background"
            },
            {
                "type": "image_picker",
                "id": "image_hover",
                "label": "Image hover"
            }
        ]
      }
    ],
    "presets": [
        {
            "name": "Hero"
        }
    ]
}
{% endschema %}