<div>
  Weeklypicks
</div>

{% schema %}
{
  "name": "Weekly picks",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
  ],
  "presets": [
    {
      "name": "Weekly picks"
    }
  ]
}
{% endschema %}