<div>
  <h2>picks of the week</h2>
  <div>
    {% for product in section.settings.collection.products %}
    <div>
      <a href="">
        <p>product title</p>
        <div>
          <span>
            price
          </span>
      </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Weekly picks",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
  ],
  "presets": [
    {
      "name": "Weekly picks"
    }
  ]
}
{% endschema %}